{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" style="background-color: #DDDDDD;" href="/task">Back to Homepage</a>
    <hr>
    <h2 class="page-header">{{ task.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Priority: {{ task.priority }}</li>
        <li class="list-group-item">Due date: {{ task.dueDate|date('F j, Y ,g:i a') }}</li>
    </ul>
{% endblock %}