{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" style="background-color: #DDDDDD;" href="/task">Back to Homepage</a>
    <hr>
    <h2 class="page-header">Update Task</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}